/* Produced by FEIJOEIRO Yoan & ESPIARD Jonathan 
   EPITA - MTI 2019 */

/***** Reset *****/
a, h1 {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/***** General *****/

body {
    margin: 0;
    font-family: 'Roboto';
    background-image: url(Images/loop.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
}
.red {
    color: red !important;
}
.underline {
    text-decoration: underline;
}
.uppercase {
    text-transform: uppercase;
}
button {
    cursor: pointer;
}
.contain {
    display: block;
   margin: 40px 10vw 0;
}
.thumbnail-contain {
    position: absolute;
    width: 100%;
    z-index: -100;
  }
  
  .discussion-contain {
    background-color: #b6701e;
    position: absolute;
    right: 0px;
    width: 33%;
  }

.center {
    text-align: center;
}
h3 {
    font-size: 22px;
    margin: 20px 0;
}
.form-search {
    display: inline;
}
a {
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}

/***** Header *****/
#logo {
    margin: 0 20px;
    cursor: pointer;
}
.header {
    padding: 20px;
    background-color: #383838; 
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
}
.header .links {
    float: right;
    padding: 20px 0;
}
.header .links a {
    color: white;
    margin: 10px 30px;
}
.search-bar{
    vertical-align: top;
    margin: 9px 0 0 30px;
    height: 30px;
    padding: 5px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: solid 1px #383838;
    width: 34%;
}
.search-button {
    background-image: url(Images/search.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    height: 40px;
    width: 70px;
    border: none;
    background-color: red;
    vertical-align: top;
    margin-top: 9px;
    margin-left: -4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-position-x: 25px;
    background-position-y: 10px;
}

/* Humberger menu */

nav {
    float: left;
}
#menuToggle a
 {
   color: white;
   display: block;
   margin-top: 10px;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 #menuToggle
 {
   display: none;
   position: relative;
   top: 10px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0;
   z-index: 2; 
   
   -webkit-touch-callout: none;
 }

 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
 }
 
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }

 #menu
 {
   position: absolute;
   border-radius: 6px;
   width: 200px;
   margin: -100px 0 0 -50px;
   padding: 125px 0 20px 50px;
   
   background: #444444;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 16px;
 }
 
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

 @media screen and (max-width: 950px) {
    #menuToggle {
        display: block;
    }
    #logo {
        display: block;
        margin: 0 auto 15px;
    }
    .header .links {
        display: none;
    }
    .search-bar {
        margin: 9px 0;
        width: 70%;
        border: black;
    }
    .form-search {
        display: block;
        text-align: center;
    }
}
@media screen and (max-width: 450px) {
    .search-bar {
        width: 50%;
    }
}

/***** Layout *****/

/* Window */
.window {
    display: block;
    background-color: white;
    width: 50%;
    margin: 100px auto 20px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
}
.window .window-header{
    background-color: #383838;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    text-align: center;
    height: 100px;
}
.window .window-header h1 {
    padding: 37px 0;
    font-size: 26px;
}
.window .window-contain {
    padding: 30px 0;
    text-align: center;
}

@media screen and (max-width: 950px) {
    .window {
        margin-top: 50px;
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
    .window {
        width: 100%;
        margin-top: 20px;
    }
    .window .form-group .form-field label {
        display: block;
        text-align: left;
        width: 100%;
    }

    .window .form-group .form-field input {
        display: block;
        width: 80%;
        text-align: left;
    }
}

/* Button */
.btn {
    padding: 15px 20px;
    margin: 20px 0;
    border: none;
    background-color: red;
    border-radius: 5px;
    font-weight: 600;
    color: white;
}
.btn-create{
    padding: 5px 5px;
    margin: 20px 0;
    border: none;
    background-color: red;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    right: 0px;
}
.btn-img {
    background-color: inherit;
    border: none;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position-y: 6px;
    font-size: 18px;
    padding: 10px 10px 10px 35px;
}
.btn-favorite {
    display: block;
    text-align: center;
    background-image: url(Images/favorite-heart.svg);
    margin: 10px auto 20px;
}
.btn-send {
    display: block;
    margin: 20px 0 10px auto;
}
.btn-delete-favorite {
    background-image: url(Images/remove-favorite.svg);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.btn-delete-history {
    margin: 20px 0;
    background-color: inherit;
    border: none;
    font-size: 14px;
    text-decoration: underline;
    color: red;
    float: right;
}

/* Forms */
.form-group {
    display: block;
    width: 80%;
    margin: 0 auto;
}
.form-group .form-field {
    margin: 15px 0;
}

.form-group .form-field label {
    display: inline-block;
    font-weight: 600;
    width: 25%;
    text-align: right;
    margin-right: 10px;
}
.form-group .form-field input {
    display: inline-block;
    width: 60%;
    border: solid 1px #999999;
    border-radius: 4px;
    height: 30px;
    padding: 5px 20px;
}

/** form create playlist **/

.form-group-create {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.form-group-create .form-field-create {
    margin: 0px 0;
}

.form-group-create .form-field-create label {
    display: inline-block;
    font-weight: 600;
    width: 25%;
    text-align: right;
    margin-right: 10px;
}
.form-group-create .form-field-create input {
    display: inline-block;
    width: 50%;
    border: solid 1px #999999;
    border-radius: 4px;
    height: 10px;
    padding: 5px 20px;
}

/* Misc */
.account-help {
    font-size: 14px;
}
hr {
    border: none;
    border-top: solid 5px red;
    border-radius: 3px;
}
.yt-player {
    position: relative;
    text-align: center;
}
.yt-player iframe {
    display: inline-block;
    width: 700px;
    height: 406px;
    margin: 40px auto 10px;
}
.result-search {
    margin: 60px 0;
    font-size: 26px;
}
.history-title {
    display: inline-block;
}

@media screen and (max-width: 970px) {
    .yt-player iframe {
        width: 500px;
        height: 281px;
    }
}

@media screen and (max-width: 535px) {
    .yt-player iframe {
        width: 250px;
        height: 140px;
    }
}

/* Comments */

.comments-space {
    padding: 0 5vw;
}
.comments-space h3 {
    margin: 40px 0;
}
.comments-space .comment {
    margin: 20px 0;
    padding: 15px 40px;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
.comment .comment-header p {
    display: inline-block;
}
.comment .comment-header .author {
    font-weight: 600;
}
.comment .comment-header .date {
    font-style: italic;
    float: right;
}
.post-comment label {
    margin: 40px 10px 20px 0;
    font-weight: 600;
    display: block;
}
.post-comment #ta-comment {
    display: block;
    background-color: white;
    border: solid 1px #999999;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
    font-family: 'Roboto';
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* Video searches */
.search-container {
    text-align: center;
}
.search-container .yt-thumbnail {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin: 20px 20px;
}
.search-container .yt-thumbnail img {
    width: 100%;
    height: auto;
}
.search-container .yt-thumbnail p {
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width: 630px) {
    .search-container .yt-thumbnail {
        display: block;
        text-align: center;
        width: initial;
        margin-bottom: 30px;
    }
    .search-container .yt-thumbnail img {
        width: 350px;
    }
}

@media screen and (max-width: 470px) {
    .search-container .yt-thumbnail img {
        width: 150px;
    }
}

/* Page selection */
.pages-selection {
    text-align: center;
    margin: 20px 0 30px;
}
.pages-selection a {
    display: inline-block;
    margin: 0 10px 0;
}
.pages-selection img {
    width: 18px;
    height: 18px;
}
.pages-selection .page-number {
    background-color: red;
    padding: 15px;
    border-radius: 4px;
    color: white;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.55);
}
.pages-selection .page-inter {
    vertical-align: bottom;
}

/* Favorites videos and history */
.myvideo-elt {
    margin: 50px 0;
    position: relative;
}
.myvideo-elt .my-yt-thumbnail {
    display: inline-block;
}
.myvideo-elt .my-yt-thumbnail img {
    width: 250px;
    height: auto;
}
.myvideo-elt .infos {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0 0 20px;
}
.myvideo-elt .infos .title{
    font-weight: 600;
}
.myvideo-elt .infos .time{
    font-style: italic;
}
.myvideo-elt p {
    display: block;
    color: black;
    font-size: 16px;
    margin: 0;
}

@media screen and (max-width: 750px) {
    .myvideo-elt {
        text-align: center;
    }
    .myvideo-elt .infos {
        display: block; 
        margin-left: 0;
    }
    .myvideo-elt .my-yt-thumbnail img {
        width: 350px;
    }
    .btn-delete-favorite {
        position: initial;
        -webkit-transform: initial;
        -ms-transform: initial;
        transform: initial;
        margin-top: 20px;
    }
}

@media screen and (max-width: 480px) {
    .contain h3 {
        display: block;
        text-align: center;
    }

    .myvideo-elt .my-yt-thumbnail img {
        width: 200px;
    }
    .btn-delete-history {
        float: none;
        display: block;
        text-align: center;
        margin: 5px auto;
    }
    .history-title {
        margin-bottom: 5px;
    }
}

/** modal **/
#modal {
    background-color: rgba(255, 0, 0, 0.1);;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
}
.close-modal {
    position: absolute;
    top: 18%;
    right: 13%;
    height: 5%;
    width: 5%;
    z-index: 200;
}

#add-to-playlist {
    position: absolute;
    right: 15%;
    height: 5%;
    width: 5%;
    z-index: 200;
}

#create-playlist-image {
    height: 5%;
    width: 5%;
    z-index: 200;
}

/***** create playlist on video ******/
.create-playlist {
    display: block;
    background-color: white;
    width: 12%;
    margin: 100px auto 20px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
}
.create-playlist .create-playlist-contain {
    text-align: center;
}

@media screen and (max-width: 50px) {
    .create-playlist {
        width: 100%;
        margin-top: 20px;
    }
    .create-playlist .form-group .form-field label {
        display: block;
        text-align: left;
        width: 100%;
    }

    .create-playlist .form-group .form-field input {
        display: block;
        width: 80%;
        text-align: left;
    }
}
/** chatroom initial page **/
#group-column{
    position: absolute;
    left: 0%;
    width: 66%;
    border-right: 1px solid black;
    height: 100%;
}
#friend-column{
    position: absolute;
    width: 34%;
    right: 0%;
}
.list-of-groups {
    margin-top: 2%;
    list-style: none;
}

.list-of-friends {
    margin-top: 2%;
    list-style: none;
}

.list-of-groups li{
    height: 50px;
    margin: 25px 50px 25px 0px;
    border: 1px solid black;
}


#create-group-image {
    position: absolute;
    margin-top: 0%;
    width: 3%;
    left: 0%; 
}

#remove-friend-image {
    width: 3%;
}

#add-friend-image {
    position: absolute;
    width: 6%;
    right: 0%; 
}
/*** chat ***/
#chatroom-discussion {
    position: absolute;
    right: 0px;
    width: 34%;
    height: 84%;
    background-color: #b6701e;
}

#chatroom-video {
    position: absolute;
    left: 0px;
    width: 66%;
    height: 84%;
    background-color: red;
}

#chatroom-playlist {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 7%;
    bottom: 0px;
    background-color: blue;
}



#chatroom-discussion-input {
    position: absolute;
    vertical-align: top;
    height: 15px;
    padding: 5px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    width: 86%;
    bottom: 0%;
}

#chatroom-discussion-button {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 18px;
    height: 28px;
    width: 70px;
    border: none;
    background-color: red;
    vertical-align: top;
    margin-top: 9px;
    margin-left: -4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-position-x: 25px;
    background-position-y: 10px;
    bottom: 0%;
    right: 0%;
}

#chatroom-discussion-choice-playlist{
    position: absolute;
    bottom: 0%;
    width: 3%;
    right: 0%;
}

#chatroom-discussion-add-user {
    position: absolute;
    width: 5%;
    right: 0%;
}

#exit-button {
    position: absolute;
    left: 0%;
    width: 3%;
    z-index: 100;
}

/** add friend page **/
#add-friend{
    width: 50%;
    margin: 0 auto;
}

#btn-add-friend{
    width: 50%;
    margin: 0 auto; 
}